hostnames:
- example.com
targetService:
  name: some-service
  port: 80
auth: false
parentRefs:
  https:
  - name: public-gateway
    namespace: istio-system
    group: gateway.networking.k8s.io
    kind: Gateway
    sectionName: https
