apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ .Release.Name }}-http
  namespace: {{ .Release.Namespace }}
spec:
  parentRefs:
  {{- toYaml .Values.parentRefs.https | nindent 2 }}
  hostnames:
  {{- range .Values.hostnames }}
  - {{ . | quote }}
  {{- end}}
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /
    backendRefs:
    - name: {{ .Values.targetService.name }}
      port: {{ .Values.targetService.port }}
{{- if .Values.auth }}
---
apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
  name: {{ .Release.Name }}-ext-authz
  namespace: {{ .Release.Namespace }}
spec:
  targetRefs:
  - group: ""
    kind: Service
    name: {{ .Values.targetService.name }}
  action: CUSTOM
  provider:
    name: oauth2-proxy
  rules:
  - to:
    - operation:
        paths: ["/"]
{{- end }}