apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: flux
spec:
  interval: 10m
  timeout: 5m
  releaseName: prometheus
  targetNamespace: prometheus
  install:
    createNamespace: true
  chart:
    spec:
      chart: kube-prometheus-stack
      version: '80.2.0'
      sourceRef:
        kind: HelmRepository
        name: prometheus
      interval: 5m
  values:
    crds:
      upgradeJob:
        enabled: true
    alertmanager:
      enabled: false
    prometheus:
      prometheusSpec:
        podMonitorSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: openebs-hostpath
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 50Gi
    grafana:
      admin:
        existingSecret: grafana-auth
        userKey: username
        passwordKey: password
      persistence:
        enabled: true
        storageClassName: openebs-hostpath
    kubeProxy:
      service:
        selector:
          component: kube-proxy
