apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: flux
spec:
  interval: 10m
  timeout: 5m
  releaseName: prometheus
  targetNamespace: prometheus
  install:
    createNamespace: true
  chart:
    spec:
      chart: kube-prometheus-stack
      version: '79.2.1'
      sourceRef:
        kind: HelmRepository
        name: prometheus
      interval: 5m
  values:
    alertmanager:
      enabled: false
    prometheus:
      prometheusSpec:
        podMonitorSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: openebs-hostpath
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 50Gi
    grafana:
      admin:
        existingSecret: grafana-auth
        userKey: username
        passwordKey: password
      route:
        main:
          enabled: true
          hostnames:
          - grafana.int.beansnet.net
          parentRefs:
          - name: internal-gateway
            namespace: istio-system
            group: gateway.networking.k8s.io
            kind: Gateway
            sectionName: https
