apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
  name: package-tracker-https
  namespace: package-tracker
spec:
  action: ALLOW
  targetRefs:
  - kind: Service
    group: ""
    name: package-tracker
  rules:
  - from:
    - source:
        remoteIpBlocks:
        - "${publicIp:=0.0.0.0/0}"
        namespaces:
        - istio-system
---
apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
  name: ext-authz
spec:
  selector:
    matchLabels:
      app: httpbin
  action: CUSTOM
  provider:
    name: oauth2-proxy
  rules:
  - to:
    - operation:
        paths: ["/"]
---
apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
  name: package-tracker-valkey
  namespace: package-tracker
spec:
  action: ALLOW
  targetRefs:
  - kind: Service
    group: ""
    name: valkey
  rules:
  - from:
    - source:
        namespaces:
        - package-tracker
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-inbound-http
  namespace: package-tracker
spec:
  podSelector:
    matchLabels:
      app: package-tracker
  ingress:
  - ports:
    - port: 80
      protocol: TCP
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-hbone
  namespace: package-tracker
spec:
  podSelector: {}
  ingress:
  - ports:
    - port: 15008
      protocol: TCP
  egress:
  - ports:
    - port: 15008
      protocol: TCP

