apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
  name: package-tracker  
  namespace: package-tracker
spec:
  action: ALLOW
  # selector:
  #   matchLabels:
  #     app: package-tracker
  targetRefs:
  - kind: Gateway
    group: gateway.networking.k8s.io
    name: waypoint
  rules:
  - from:
    - source:
        remoteIpBlocks:
        - "${publicIp:=0.0.0.0/0}"
  - from:
    - source:
        principals:
        - spiffe://cluster.local/ns/package-tracker/sa/waypoint
  - from:
    - source:
        namespaces:
        - package-tracker
        - istio-system
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-inbound-https
  namespace: package-tracker
spec:
  podSelector:
    matchLabels:
      app: package-tracker
  ingress:
  - ports:
    - port: 80
      protocol: TCP
    - port: 15008
      protocol: TCP
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: deny-ingress
  namespace: package-tracker
spec:
  policyTypes:
  - Ingress
---
# apiVersion: security.istio.io/v1
# kind: AuthorizationPolicy
# metadata:
#  name: valkey
#  namespace: package-tracker
# spec:
#   action: DENY
#   selector:
#     matchLabels:
#       app: valkey
#   rules:
#   - from:
#     - source:
#         notNamespaces:
#         - package-tracker
#     to: []