apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
  name: package-tracker-https
  namespace: package-tracker
spec:
  action: ALLOW
  targetRefs:
  - kind: Service
    group: ""
    name: package-tracker-base-https
  rules:
  - from:
    - source:
        remoteIpBlocks:
        - "${publicIp:=0.0.0.0/0}"

---
apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
  name: package-tracker-waypoint
  namespace: package-tracker
spec:
  action: ALLOW
  targetRefs:
  - kind: Gateway
    group: gateway.networking.k8s.io
    name: waypoint
  rules:
  - from:
    - source:
        principals:
        - spiffe://cluster.local/ns/package-tracker/sa/waypoint
# ---
# apiVersion: networking.k8s.io/v1
# kind: NetworkPolicy
# metadata:
#   name: allow-inbound-https
#   namespace: package-tracker
# spec:
#   podSelector:
#     matchLabels:
#       app: package-tracker
#   ingress:
#   - ports:
#     - port: 80
#       protocol: TCP
# ---
# apiVersion: networking.k8s.io/v1
# kind: NetworkPolicy
# metadata:
#   name: allow-inbound-hbone
#   namespace: package-tracker
# spec:
#   podSelector: {}
#   ingress:
#   - ports:
#     - port: 15008
#       protocol: TCP
# ---
# apiVersion: networking.k8s.io/v1
# kind: NetworkPolicy
# metadata:
#   name: deny-all
#   namespace: package-tracker
# spec:
#   podSelector: {}
#   policyTypes:
#   - Ingress
#   - Egress
---
# apiVersion: security.istio.io/v1
# kind: AuthorizationPolicy
# metadata:
#  name: valkey
#  namespace: package-tracker
# spec:
#   action: DENY
#   selector:
#     matchLabels:
#       app: valkey
#   rules:
#   - from:
#     - source:
#         notNamespaces:
#         - package-tracker
#     to: []