apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
 name: package-tracker
 namespace: package-tracker
spec:
  action: ALLOW
  # selector:
  #   matchLabels:
  #     app: package-tracker
  targetRefs:
  - kind: HTTPRoute
    group: gateway.networking.k8s.io
    name: package-tracker-base-https
  rules:
  - from:
    - source:
        remoteIpBlocks:
        - "${publicIp:=0.0.0.0/0}"
  - from:
    - source:
        principals:
        - spiffe://cluster.local/ns/package-tracker/sa/waypoint
---
# apiVersion: security.istio.io/v1
# kind: AuthorizationPolicy
# metadata:
#  name: valkey
#  namespace: package-tracker
# spec:
#   action: DENY
#   selector:
#     matchLabels:
#       app: valkey
#   rules:
#   - from:
#     - source:
#         notNamespaces:
#         - package-tracker
#     to: []