apiVersion: apps/v1
kind: Deployment
metadata:
  name: package-tracker
  namespace: package-tracker
spec:
  selector:
    matchLabels:
      app: package-tracker
  replicas: 1
  template:
    metadata:
      labels:
        app: package-tracker
    spec:
      containers:
      - name: package-tracker
        image: bentastic27/package-tracker:0.0.4
        ports:
        - containerPort: 8000
          name: http
        resources:
          requests:
            memory: 128Mi
          limits:
            memory: 256Mi
        env:
        - name: VALKEY_HOST
          value: valkey.package-tracker.svc.cluster.local
        - name: VALKEY_PORT
          value: "6379"
        - name: WEB_CONCURRENCY
          value: "1"
---
apiVersion: v1
kind: Service
metadata:
  name: package-tracker
  namespace: package-tracker
spec:
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
  selector:
    app: package-tracker