apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: test-external-auth
  namespace: package-tracker
spec:
  hostnames:
  - test.int.beansnet.net
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: internal-gateway
    namespace: istio-system
    sectionName: https
  rules:
  - backendRefs:
    - group: ""
      kind: Service
      name: package-tracker
      port: 80
