apiVersion: v1
kind: Service
metadata:
  name: valkey
  namespace: package-tracker
  labels:
    app: valkey
spec:
  ports:
  - port: 6379
    targetPort: 6379
    name: valkey
  selector:
    app: valkey
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: valkey
  namespace: package-tracker
spec:
  serviceName: "valkey"
  replicas: 1
  selector:
    matchLabels:
      app: valkey
  template:
    metadata:
      labels:
        app: valkey
    spec:
      containers:
      - name: valkey
        image: valkey/valkey:9
        command: ["valkey-server"]
        args:
        - --save
        - "60"
        - "1"
        - --loglevel
        - notice
        ports:
        - containerPort: 6379
          name: valkey
        resources:
          requests:
            memory: 96Mi
          limits:
            memory: 256Mi
        volumeMounts:
        - name: valkey-data
          mountPath: /data
  volumeClaimTemplates:
  - metadata:
      name: valkey-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: openebs-hostpath
      resources:
        requests:
          storage: 1Gi